
@media screen and (min-width:650px){

.app{
    background-color: #dadbd3;
    height: 100vh;
    display: grid;
    place-items: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

}

.app__body{
   display: flex;
   background-color: #ededed;
   height: 90vh;
   width: 90vw;
   box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
   margin-top: -50px;

   
}



@media screen and (max-width:560px){
     .app__body{
         height: 107vh !important;
     }
}


